<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>開始時間:</strong>
  <%= @meeting.start_time %>
</p>

<%= link_to '編集', edit_meeting_path(@meeting) %> |
<%= link_to '戻る', meetings_path %>
